# Quarto build artifacts

.quarto/
.quarto-cache/
.cache/
_freeze/
*_files

# old books
docs/ 

# intermediate/output files
*.utf8.md
*.docx
*.tex
*.log
*.out
*.aux

# R (if you have any R code chunks)
.Rhistory
.RData
.Rproj.user/

# editor and OS cruft
.DS_Store
.vscode/
node_modules/
/.quarto/
.luarc.json
