# Quarto build artifacts

.quarto/
.quarto-cache/
.cache/
_freeze/
# Ignore all *_files/ folders recursively
*_files/
# BUT allow this specific one (must come after the ignore rule)
!docs/*_files/
!docs/*_files/**

# old books
old_book/ 

# intermediate/output files
*.utf8.md
*.docx
*.tex
*.log
*.out
*.aux

# R (if you have any R code chunks)
.Rhistory
.RData
.Rproj.user/

# editor and OS cruft
.DS_Store
.vscode/
node_modules/
/.quarto/
.luarc.json
